<mat-form-field appearance="outline" [style.width.px]="data?.width" [formGroup]="group">
  <mat-label>{{ data?.label| titlecase }}</mat-label>
  <mat-select [formControlName]='data.name'
    [required]="validator.IsRequired(data?.validation) && data?.validationAction == action">
    <mat-option *ngFor="let i of data?.options?.source" [value]="i[optionValue]">
      {{ i[optionName] | titlecase }} </mat-option>
  </mat-select>
  <mat-error>
    <app-error-handling [formGroup]="group" [field]="data?.name" [message]="data?.label"></app-error-handling>
  </mat-error>
</mat-form-field>
