<mat-form-field appearance="outline" [style.width.px]="data?.width" [formGroup]="group">
  <mat-label>{{ data?.label| titlecase }}</mat-label>
  <input matInput [required]="validator.IsRequired(data?.validation) && data?.validationAction == action"
    [value]="data?.defaultValue" [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  <mat-error>
    <app-error-handling [formGroup]="group" [field]="data?.name" [message]="data?.label"></app-error-handling>
  </mat-error>
</mat-form-field>
